#logo {
	max-height: 92px;
	max-width: 272;
}

ul {
	position: fixed;
	bottom: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f2f2f2;
}

.left {
    float: left;
}

.right {
	float: right;
}

li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a {
	font-size: small;
}